<div class='superlist'>
    <table class='supertable'>
        <thead>
            <tr class='header'>
            <% _.each(properties, function(column) { %>
                <th class='column' data-type='<%= column.type %>' data-prop='<%= column.property %>'>
                    <span class='column'>
                        <%= column.name %>
                    </span>
                    <div class='sort inactive'></div> 
                </th> 
            <% }); %>
            </tr>
        </thead>
        <tbody>
            <% _.each(models, function(model) { %>
            <tr data-id="<%= model.id %>">
                <% _.each(properties, function(prop) { %>
                <td><% print(model.get(prop.property)); %></td>
                <% }); %>
            </tr>
            <% }); %>
        </tbody>
    </table>
</div>
