<div>
    <div class='row'>
        <br>
        <br>
    </div>
    <div class='row'>
        <div class='offset3 span3'>
            <h1>Udder Analyzer</h1>
            <a class='active' href="#">File Upload</a>
            <a href="browse">Browse</a>
        </div>
    </div>
    <div class='row'>
        <br>
    </div>
    <div class='row'>
        <div class='offset3 span5'>
            <form name="data" action="upload" method="post" enctype="multipart/form-data" class='form-vertical well'>
                <label for="upload-files">Files
                <input type="file" name="upload-files" multiple="true" />
                </label>
                <input type="submit" value="Submit" />
            </form>
        </div>
    </div>
</div>
