<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Udder Analyzer</title>

        <link href="public/styles/bootstrap.css" type="text/css" rel="stylesheet"/>
    </head>
    <body>

        <div class='container'>
            <div class='row'>
                <div class='offset3 span5'>
                    <h1>Udder Analyzer</h1>
                </div>
            </div>
            <div class='row'>
                <div class='offset3 span5'>
                    <form name="data" action="upload" method="post" enctype="multipart/form-data" class='form-vertical+++   well'>
                        <label for="upload-files">Files
                        <input type="file" name="upload-files" multiple="true" />
                        </label>
                        <input type="submit" value="Submit" />
                    </form>
                </div>
            </div>
        </div>

        <script type="text/javascript" data-main="public/js/main.js" src="public/js/require.js"></script>

    </body>
</html>
