<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Udder Analyzer</title>

        <link href="public/styles/main.css" type="text/css" rel="stylesheet"/>
        <link href="public/styles/navigation.css" type="text/css" rel="stylesheet"/>
        <link href="public/styles/superlist.css" type="text/css" rel="stylesheet"/>
        <link href="public/styles/pane.less" type="text/css" rel="stylesheet/less"/>
        <link href="public/styles/bootstrap.css" type="text/css" rel="stylesheet"/>
        <script src="public/js/lib/less-1.2.2.min.js"></script>
    </head>
    <body>
    
        <div id='navigation'>
            <h1>Udder Analyzer</h1>  
        </div>
        
        <div id='content'>

            <div class='bar-container'>
                <form class='form-search'>
                    <input type='text' class='input-medium search-query'/>
                </form>
            </div>

            <div class='pane-container'>
                <div class='pane'>
                    <div class='superlist'>
                        <div class="header">
                            <h3>Species</h3>
                            <ul class='unstyled'>
                                <li>Name</li>
                            </ul>
                        </div>
                        <table class="supertable">
                            <tr>
                                <td>Bovine</td>
                            <tr>
                        </table>
                    </div>
                </div>
                <div class='pane'>
                    <div class='superlist'>
                        <div class="header">
                            <h3>Species</h3>
                            <ul class='unstyled'>
                                <li>Name</li>
                            </ul>
                        </div>
                        <table class="supertable">
                            <tr>
                                <td>Bovine</td>
                            <tr>
                        </table>
                    </div>
                </div>
                <div class='pane'>
                    <div class='superlist'>
                        <div class="header">
                            <h3>Species</h3>
                            <ul class='unstyled'>
                                <li>Name</li>
                            </ul>
                        </div>
                        <table class="supertable">
                            <tr>
                                <td>Bovine</td>
                            <tr>
                        </table>
                    </div>
                </div>
                <div class='pane'>
                    <div class='superlist'>
                        <div class="header">
                            <h3>Species</h3>
                            <ul class='unstyled'>
                                <li>Name</li>
                            </ul>
                        </div>
                        <table class="supertable">
                            <tr>
                                <td>Bovine</td>
                            <tr>
                        </table>
                    </div>
                </div>
                <div class='pane'>
                    <div class='superlist'>
                        <div class="header">
                            <h3>Species</h3>
                            <ul class='unstyled'>
                                <li>Name</li>
                            </ul>
                        </div>
                        <table class="supertable">
                            <tr>
                                <td>Bovine</td>
                            <tr>
                        </table>
                    </div>
                </div>
                <div class='pane'>
                    <div class='superlist'>
                        <div class="header">
                            <h3>Species</h3>
                            <ul class='unstyled'>
                                <li>Name</li>
                            </ul>
                        </div>
                        <table class="supertable">
                            <tr>
                                <td>Bovine</td>
                            <tr>
                        </table>
                    </div>
                </div>
                <div class='pane'>
                    <div class='superlist'>
                        <div class="header">
                            <h3>Species</h3>
                            <ul class='unstyled'>
                                <li>Name</li>
                            </ul>
                        </div>
                        <table class="supertable">
                            <tr>
                                <td>Bovine</td>
                            <tr>
                        </table>
                    </div>
                </div>
                <div class='pane'>
                    <div class='superlist'>
                        <div class="header">
                            <h3>Species</h3>
                            <ul class='unstyled'>
                                <li>Name</li>
                            </ul>
                        </div>
                        <table class="supertable">
                            <tr>
                                <td>Bovine</td>
                            <tr>
                        </table>
                    </div>
                </div>
            </div>


        <script type="text/javascript" data-main="public/js/main.js" src="public/js/require.js"></script>

    </body>
</html>
