<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Udder Analyzer</title>

        <link href="public/styles/main.less" type="text/css" rel="stylesheet/less"/>
        <link href="public/styles/bootstrap.css" type="text/css" rel="stylesheet"/>
        <script src="public/js/lib/less-1.2.2.min.js"></script>
    </head>
    <body>
    
        <div id='navigation'>
            <h1>Udder Analyzer</h1>  
            <a href="#browse">browse</a><br>
            <a href="#gene-search">gene search</a><br>
            <a href="#factor-search">factor search</a><br>
            <a href="#upload">file upload</a>
        </div>
        
        <div id='content'></div>

        <script type="text/javascript" data-main="public/js/main.js" src="public/js/require.js"></script>

    </body>
</html>
