.superlist {
    position: relative;
    height: 100%;

}

.superlist .header {
    height: 40px;
    border-bottom: 1px solid black;
}

.superlist .supertable {
    position: absolute;
    top: 45px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    display: block;
    overflow-y: scroll;
}

.superlist .supertable th {
}

.superlist .supertable td {
}
